$browser-prefixes: true !default;
@import "juice";
$font-family:san-serif;
.container{
	@include centerer;
}
h1{
	text-align:center;
	color:#44AF28;
	font-family:$font-family;
	a{
		text-decoration: none;
	}
}
p{
	text-align:center;
	color:#1980C6;
	font-size:1.5em;
	font-weight:bold;
	&#quote{
		font-weight: bolder;
	}
}
p.credit{
	@extend p;
	font-variant:small-caps;
	font-size:1em;
}
input{
	@include center-block;
	margin-bottom:.3em;
	padding:.5em;
	border:solid;
	background-color:transparent;
	border-color:green;
	border-width:.2em;
	@extend p;
	color:green;
	font-size:1.1em;
	border-radius:.4em;
	cursor:pointer;
	&:focus{
		outline:none;
	}
	&:hover{
		border-color:red;
	}
}