h1 {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 9px;
    border-bottom: 5px solid black;
}
buttom#buttom {
    display: block;
    width: 10em;
    margin: auto;
    text-align: center;
    font-size: larger;
    padding: 8px;
    border: 5px solid black;
    cursor:pointer;
}
a#tweet {
    display: block;
    width: 10em;
    margin: auto;
    font-size: larger;
    padding: 8px;
    border: 5px solid black;
    text-align: center;
    cursor:pointer;
    text-decoration:none;
    color:black;
}
i.fa.fa-quote-right {
    /* display: block; */
    float: right;
}
p#author {
    text-align: center;
    font-style: italic;
    font-weight:bolder;
    font-size: larger;
}
p#text {
    text-align: center;
    font-size: xx-large;
}
buttom#buttom:hover,a#tweet:hover {
    border-radius: 34px;
}
.box {
    width: 80%;
    margin: auto;
}